<div style="background-image : url(/auth/eleacas/images/notification.png); background-repeat: no-repeat; background-color: white;border-radius: 3px;background-position: 8px 12px; background-size: 50px; width:60%;padding:16px;padding-left:72px;margin: 10px auto;box-shadow:0px 3px 3px 0px #999;">
	<h4>Notification</h4>
	<p style="color: #999;"><?php echo get_string('account_not_created', 'auth_eleacas'); ?></p>
</div>
