<ul class="buttons-homepage col-sm-8 col-sm-offset-2  col-md-6 col-md-offset-3">
	<img src='/auth/eleacas/images/user.png' style='width:150px'/>

	<?php foreach ($this->websso as $key => $value): ?>

		<?php if (isset($this->config->$key) AND
					$this->config->$key): ?>
		<li>
			<a href="<?php echo get_login_url() . '?authCAS=' . $key;?>">
				<span><?php echo $this->websso[$key]['title']; ?></span>
			</a>
		</li>
		<?php endif; ?>
	<?php endforeach; ?>	
	<li><a href="<?php echo get_login_url() . '?authCAS=LOCAL';?>"><span><?php echo get_string('use_local_account', 'auth_eleacas'); ?></span></a></li>
</ul>
