<div style="background-image : url(/auth/eleacas/images/notification.png); background-repeat: no-repeat; background-color: white;border-radius: 3px;background-position: 8px 12px; background-size: 50px; width:60%;padding:16px;padding-left:72px;margin: 10px auto;box-shadow:0px 3px 3px 0px #999;">
	<h4>Notification</h4>
	<form action="" method="get" id="form1">
		<p style="color: #999;"><?php echo get_string('account_creation', 'auth_eleacas'); ?></p>
		<ul style="color: #999;">
			
			<?php foreach ($data as $key => $entry): ?>
			<li><?php echo $entry['label'];?> : <?php echo $entry['value'];?></li>
			<?php endforeach; ?>
		
		</ul>
		<div style="width:30%;margin:0 auto;"><input type="submit" style="margin:0;width:100%;" value="valider" name="validation"/></div>	
		<input type="hidden" value="<?php echo $authCAS; ?>" name="authCAS"/>	
	</form>
</div>
